# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Datasets
train_dataset/
test_dataset/

# Model weights
weights/*.pth

# Python packaging
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/