# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Datasets
train_dataset/
test_dataset/

# Model weights
weights/*.pth

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/